.outer-container h1 {
  text-align: center;
  margin-top: 100px;
  animation: card-entrance 0.5s ease 0s 1 normal forwards;
}

.container {
  margin-top: 20px;
  height: 500px;
  display: flex;
}

.daily-card {
  height: 350px;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid black;
  border-radius: 56px;
  text-align: center;
  margin: auto;
  font-size: 1.5rem;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
  animation: card-entrance 0.5s ease 0s 1 normal forwards;
}

@keyframes card-entrance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
