* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  height: 6rem;
  background-color: beige;
}

.header h1 {
  text-align: center;
  margin: 0;
}

.header ul {
  padding: 0;
  height: 50%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header li {
  margin: 0 4rem;
  font-size: 1.2rem;
}

.header a {
  text-decoration: none;
}

.header input {
  margin-left: 5rem;
}
